main {
    flex-direction: column;
    align-items: center;
}

#icon-404{
    width: 200px;
}

#text-title {
    font-weight: bold;
    font-size: 30px;
    font-family: var(--font-type2);
    color: var(--clr-txt-primary);
    margin: 5px 0 0;
}

#text-subtitle {
    font-weight: bold;
    font-size:16px;
    color: var(--clr-txt-secondary);
    margin-bottom: 25px;
}

#notfound-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
    width: 350px;
    margin-top: 20px;   
    color: var(--clr-txt-secondary);
}

.notfound-footer-link:hover, .notfound-footer-link:hover + .icon-return{
    color: var(--clr-blue);
    cursor: pointer;
}

.notfound-footer-link:active, .notfound-footer-link:active + .icon-return {
    color: var(--clr-blue-500);
}


/* transition  */
.notfound-footer-link, .icon-return{
    transition: var(--transition);
}

