@font-face {
    font-family: 'Omnes';
    src: url('font/Omnes.eot'); /* IE9 Compat Modes */
    src: url('font/Omnes.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/Omnes.woff') format('woff'),
         url('font/Omnes.woff2') format('woff2'), /* Modern Browsers */
         url('font/Omnes.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Omnes Medium';
    src: url('font/Omnes Medium.otf') format('opentype');
}

:root{
    --clr-blue: hsl(205, 99%, 62%);
    --clr-blue-500: hsl(205, 62%, 52%);
    --clr-gray: hsl(210, 15%, 74%);
    --clr-gray-100: hsl(0, 0%, 90%);
    --clr-gray-500: hsl(210, 13%, 65%);
    --clr-gray-600: hsl(203, 10%, 60%);
    --clr-bg: hsl(214, 100%, 96%);

    --clr-txt-primary: hsl(208, 36%, 26%);
    --clr-txt-secondary: hsl(208, 24%, 53%);

    --clr-tag-orange: hsl(38, 98%, 69%);
    --clr-tag-green: hsl(157, 64%, 71%);
    --clr-tag-purple: hsl(255, 89%, 75%);
    --clr-tag-red: hsl(359, 85%, 71%);
    --clr-tag-blue: hsl(184, 65%, 69%);
    --clr-tag-pink: hsl(322, 82%, 70%);
    --clr-tag-gray: hsl(195, 34%, 77%);
    --clr-tag-brown: hsl(60, 20%, 73%);

    --font-type: 'Omnes', Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-type2: 'Omnes Medium', var(--font-type);

    --transition: all 0.3s ease;
}

body{
    display: grid;
    margin: 0;
    padding: 0;
    font-family: var(--font-type);
    background-color: var(--clr-bg);
}

/* common styling */

a, a:visited {
    text-decoration: none;
    color: var(--clr-txt-secondary);
}

input{
    font-family: var(--font-type);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 3rem;
}

#main-logo{
    display: flex;
    flex-direction: row;
}

#main-title{
    color:var(--clr-txt-primary);
    font-size: 50px;
    font-weight: bold;
    font-family: var(--font-type2);
    margin: 2px 0 0 0;
}

#icon-logo{
    height:65px;
    width:65px;
}