.main-page{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin:auto;
    margin-top:150px;
    border: 1px solid var(--clr-gray);
    width:500px;
    height:500px;
    background-color:white;
}

.icon-logo{
    height: 65px;
    width: 65px;
    margin-bottom: 0px;
    float: left;
}

.title-format{
    margin-top: 5px;
    margin-bottom: 0px;
    color:var(--clr-txt-secondary);
    font-size: 50px;
}

.text-format{
    font-weight:600;
    font-size:25px;
}

#email{
    width:350px;
    height:25px;
    padding:10px;
}

#password{
    width:350px;
    height:25px;
    padding:10px;
}

input:focus {
    border: 3px solid var(--clr-txt-primary);
  }

.login-button{
    margin-bottom:25px;
}

.option-format{
    text-decoration:underline;
}

.option-format:hover{
    color:var(--clr-blue);
}

.log-in{
    background-color:var(--clr-txt-primary);
    color:white;
    width:130px;
    border-radius: 12px;
    padding:10px;
}

.log-in:hover{
    background-color:var(--clr-blue);
    border-color:var(--clr-blue);
}


.input-forms{
    margin-bottom:30px;
}