header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px rgb(205, 219, 225, 0.7);
    padding: 25px 15px;
}

header > * {
    display: flex;
    justify-content: space-around;
}

header > div:last-child{
    gap: 2vw;
}

main {
    gap: 5rem;
}

section {
    display: flex;
    justify-content: space-around;    
    flex-direction:column;
    gap: 25px;
}

aside {
    display: flex;
    flex-direction:column;
    gap: 25px;
    color: var(--clr-txt-primary);
    font-size: 16px;
    font-weight:bold;
    font-family: var(--font-type2);
}

aside > * {
    cursor: pointer;
}

/* transition  */
#search-bar,
#icon-search,
#icon-notification,
#icon-arrowdown,
#filter,
#mark-read,
#discussion-container,
.tag-container,
.discussion, 
#load-more-discussion, 
#new-discussion,
#all-discussion,
#following,
#category-container .tag{
    transition: var(--transition);
}
/* end */

#search-bar{
    border-radius: 25px;
    width: max(500px, 40vw);
    height: 15px;
}

#search-bar:focus + #icon-search{
    color: var(--clr-blue);
}

@media (max-width: 990px) {
    header{
        gap: 3vw;
    }
    #search-bar {
        width: max(30vw, 350px);
    }
}

input::placeholder{
    font-family: var(--font-type);
    color: var(--clr-txt-secondary);
}

.icon-base{
    padding: 10px;
    color: var(--clr-txt-primary);
}

#icon-search{
    margin-left: -50px;
    color: var(--clr-gray-600);
}

.has-notification{
    position: relative;
}

.has-notification::after{
    content: ''; 
    background-color: var(--clr-tag-red);
    border: 2px solid white;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 10px;
    right: 9px;
}

#icon-user{
    border-radius: 100%;
    height:35px;
    width:35px;
}

#icon-arrowdown {
    padding: 10px 5px;
    cursor: pointer;
}

#discussion-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


#filter{
    font-family: var(--font-type2);
    font-weight: bold;
    color: var(--clr-txt-secondary);
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    padding: 10px 5px;
}


#filter:focus{
    border-color: var(--clr-blue);
    -webkit-box-shadow: none;
	box-shadow: none;
    outline: none;
}

.icon-mark-read{
    margin-right: 5px;
}

#mark-read{
    color:var(--clr-txt-secondary);
    font-weight: bold;
    font-size: 14px;
    font-family: var(--font-type2);
    cursor: pointer;
}

#icon-notification:hover,
#icon-arrowdown:hover,
#mark-read:hover,
#category-container .tag:hover,
#all-disussion:hover,
#following:hover,
.text-active{
    color: var(--clr-blue);
}

#icon-notification:active,
#icon-arrowdown:active,
#mark-read:active,
#category-container .tag:active,
#all-disussion:active,
#following:active{
    color: var(--clr-blue-500);
}

#discussion-container{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
}

.discussion-box{
    position: relative;
    max-width: 800px;
}

.discussion {
    background-color: white;
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(230, 230, 230, 0.5);
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    gap: min(4vw, 50px);
    cursor: pointer;
}

.discussion-box:hover > .discussion{
    box-shadow: 0 2px 10px rgb(62, 174, 254, 0.2);
    border-color: var(--clr-blue);
}
.discussion-box:hover > .tag-container{
    border-color: var(--clr-blue);
}
.discussion-box:active > .discussion{
    box-shadow: 0 2px 10px rgb(62, 174, 254, 0.4);
    background-color: rgba(141, 205, 251, 15%);
}

.discussion > * {
    display: flex;
}

.discussion > div:first-child {
    gap: 10px;
}

.tag-container{
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    position:absolute;
    padding: 3px 10px;
    top: -10px;
    right: 20px;
    background-color: #FFFFFF;
}

.tag{
    margin: 0;
    color: var(--color);
    font-family: var(--font-type2);
    font-weight: bold;
    font-size: var(--size);
    display: flex;
    align-items: center;
}

.tag[data-tag-type="main"]{
    --size: 16px;
    --color: var(--clr-txt-primary);
}

.tag[data-tag-type="sub"]{
    --size: 12px;
    --color: var(--clr-txt-secondary);
}

.tag::before{
    content: '';
    border-radius: 100%;
    height: var(--size);
    width: var(--size);
    margin-right: var(--dist);
}

.tag[data-tag-type="main"]::before{
    --size: 20px;
    --dist: 15px;
}

.tag[data-tag-type="sub"]::before{
    --size: 10px;
    --dist: 7px;
}

.tag[data-tag-clr='orange']::before{
    background-color: var(--clr-tag-orange);
}
.tag[data-tag-clr='green']::before{
    background-color: var(--clr-tag-green);
}
.tag[data-tag-clr='purple']::before{
    background-color: var(--clr-tag-purple);
}
.tag[data-tag-clr='red']::before{
    background-color: var(--clr-tag-red);
}
.tag[data-tag-clr='blue']::before{
    background-color: var(--clr-tag-blue);
}
.tag[data-tag-clr='pink']::before{
    background-color: var(--clr-tag-pink);
}
.tag[data-tag-clr='gray']::before{
    background-color: var(--clr-tag-gray);
}
.tag[data-tag-clr='brown']::before{
    background-color: var(--clr-tag-brown);
}

.discussion-author{
    height: 50%;
    margin: 7px 10px 10px;
}

.img-author{
    border-radius: 50%;
    height:55px;
    width:55px;
}

.title{
    font-family: var(--font-type2);
    color: var(--clr-txt-primary);
    font-size: 20px;
    margin: 10px 0 5px 0;

}

.author-and-date {
    color:var(--clr-txt-secondary);
    font-size:12px;
    font-weight: bold;
    margin: 7px 0 0;
}

.author-and-date span {
    font-family: var(--font-type2);
}

.content{
    color:var(--clr-txt-secondary);
    font-size:14px;
    line-height: 1.5;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussion-footer{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.discussion-footer > *{
    margin-right: 12px;
}

.commenters {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 670px) {
    .discussion-footer{
        align-items: center;
    }
    .commenters {
        flex-direction: column-reverse !important;
    }
    .commenter:nth-of-type(n+1) {
        margin-left: 0 !important;
        margin-bottom: -7px;
    }
    .comment > span {
        display: none;
    }
    .icon-comment {
        margin-right: 0 !important;
    }
}

.commenter {
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.commenter-more{
    background-image: url('../images/icon/more.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.commenter:nth-of-type(n+1) {
    margin-left: -7px;
}

.icon-comment {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--clr-txt-secondary);
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-type2);
}


/* 
#load-more-discussion:hover{
    box-shadow: 0 1px 5px rgb(62, 174, 254, 0.2);
    border-color: var(--clr-blue);
}
#load-more-discussion:active{
    box-shadow: 0 0 10px rgb(62, 174, 254, 0.4);
    background-color: rgba(141, 205, 251, 0.1);
} */


/* aside */ 


#new-discussion {
    width: 230px;
    margin-bottom: 15px;
}

#new-discussion:hover{
    box-shadow: 0 2px 10px rgb(62, 174, 254, 0.7);
}

#new-discussion:active{
    background-color: var(--clr-blue-500);
}

.icon-discussion, .icon-following{
    margin-right:15px;
}

#line {
    background-color: var(--clr-gray);
    height: 1.5px;
    width: 100%;
    margin-top: 10px;
    cursor: default;
}

#category-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    cursor: default;
}

#category-container > * {
    cursor: pointer;
}