header {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 20px var(--clr-gray);
    padding: 25px 15px;
    flex: 2, 1, 1;
    background-color: var(--clr-txt-primary);
}

header > * {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 20px var(--clr-gray);
    padding: 25px 15px;
    flex-direction:column;
}

section > * {
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}

aside {
    position:absolute;
    top:120px;
    left:1000px;
    display: flex;
    flex-direction:column;
    margin-left:75px;
    margin-bottom:25px;
}

aside > * {
    position:relative;
    left:100px;
    top:100px;
    display: flex;
    flex-direction:column;
}

#search-format{
    border-radius: 25px;
    padding: 10px;
    width: 500px;
    height:15px;
    vertical-align: center;
    margin-top: 15px;
}

input::placeholder{
    font-family: var(--font-type);
}

.title-format{
    margin-top:5px;
    margin-bottom:0;
    color:var(--clr-gray);
    font-size:50px;
}

.icon-glass{
    margin: auto;
    padding: 10px;
    position: absolute;
    margin-top: 15px;
    margin-left: 225px;
}

.icon-notification{
    padding: 10px;
    margin-top:10px;
    color:var(--clr-gray);
}

.icon-newsfeed{
    padding: 10px;
    margin-top:10px;
    border-radius:50%;
    color:var(--clr-gray);
}

.icon-user{
    border-radius: 50%;
    height:40px;
    width:40px;
}

.icon-logout{
    padding: 10px;
    margin-top:10px;
    margin-left:50px;
    color:var(--clr-gray);
}

.icon-user:hover{
    border:2px solid var(--clr-gray);
}

.icon-newsfeed:hover{
    padding:0px;
    border:2px solid var(--clr-gray);
}

.icon-logout:hover{
    padding:0px;
    border:2px solid var(--clr-gray);
}

.icon-logo{
    height:65px;
    width:65px;
}


.filter-pos{
    position: relative;
    right:70px;
    top:30px;
}

.filterBox1{
    color:var(--clr-txt-secondary);
    font-weight: bold;
    height: 20px;
    width: 110px;
    margin: auto; 
    position: relative;
    right: 650px;
    bottom: 0px;
}

.filterBox2{
    color:var(--clr-txt-secondary);
    font-weight: bold;
    height: 20px;
    width: 110px;
    margin: auto;
    position: relative;
    right: 500px;
    bottom: 20px;
}

.filterBox1:hover{
    background-color: var(--clr-gray);
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}

.filterBox1:hover .filter{
    color:var(--clr-blue);
}

.filterBox2:hover{
    background-color: var(--clr-gray);
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}

.filterBox2:hover .filter{
    color:var(--clr-blue);
}

.mark-read{
    color:var(--clr-txt-secondary);
    font-weight: bold;
    height: 20px;
    margin: auto;
    position: relative;
    left:10px;
    bottom: 35px;
}

.mark-read:hover{
    background-color: var(--clr-gray);
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}


.icon-arrowdown{
    margin-bottom:10px;
    color:var(--clr-gray);
}

.discussion {
    border: 1px;
    border-color: var(--clr-gray);
    width: 800px;
    margin-left: 150px;
    box-shadow: 0 2px 20px var(--clr-gray);
    padding: 45px 30px;
}

.discussion:hover{
    box-shadow: 0 2px 20px var(--clr-blue);
}

.tag {
    border: 1px solid;
    border-color: var(--clr-gray);
    color:var(--clr-txt-secondary);
    border-radius: 25px;
    width: 100px;
    position:relative;
    left: 850px;
    top:10px;
    font-size: 10px;
}

.dot-orange {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-orange);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-green {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-green);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-purple {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-purple);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-red {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-red);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-blue {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-blue);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-pink {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-pink);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-gray {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-gray);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.dot-brown {
    height: 8px;
    width: 8px;
    background-color: var(--clr-tag-brown);
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
    display: inline-block;
    margin-left:10px;
}

.pic {
    border-radius: 50%;
    height:50px;
    width:50px;
    padding-left:10px;
    padding-right:10px;
    float: left;
}

.content-title {
    color:var(--clr-txt-primary);
    font-size:16px;
}

.icon-reply {
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}

.reply-notice {
    margin-left: 70px;
    color:var(--clr-txt-primary);
    font-size:10px;
}

.content{
    margin-left: 70px;
    margin-top: 10px;
    color:var(--clr-txt-primary);
    font-size:14px;
    width: 600px;
}

.others-icon {
    border-radius: 50%;
    height:20px;
    width:20px;
    float: right;
}

.icon-comment {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}

.others-comment {
    margin-left: 70px;
    color:var(--clr-txt-primary);
    font-size:12px;
}

.new-discussion {
    border-radius: 5%;
    color: white;
    background-color: var(--clr-blue);
    font-size:14px;
    width: 250px;
    height:40px;
    text-align:center;
    margin-bottom:35px;
}

.icon-discussion{
    margin-right:15px;
}

.all-discussion {
    color:var(--clr-blue);
    font-size: 16px;
    width:500px;
    margin-bottom:20px;
    font-weight:bold;
}

.icon-following {
    margin-right:15px;
}

.following {
    color:var(--clr-txt-primary);
    font-size: 16px;
    width:500px;
    font-weight:bold;
    margin-bottom:20px;
}

.line-hr{
    align-items: left;
    margin-left:0px;
}

hr {
    color: var(--clr-tag-gray);
    margin-left:0px;
    width:50%;
}

.category {
    color:var(--clr-txt-primary);
    font-size: 16px;
    width:500px;
    font-weight:bold;
    margin-bottom:20px;
}

.cat-orange {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-orange);
    border-radius: 50%;
    margin-bottom:20px;

}

.cat-green {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-green);
    border-radius: 50%;
    margin-bottom:20px;

}

.cat-purple {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-purple);
    border-radius: 50%;
    margin-bottom:20px;
}

.cat-red {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-red);
    border-radius: 50%;
    margin-bottom:20px;
}

.cat-blue {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-blue);
    border-radius: 50%;
    margin-bottom:20px;

}

.cat-pink {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-pink);
    border-radius: 50%;
    margin-bottom:20px;

}

.cat-gray {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-gray);
    border-radius: 50%;
    margin-bottom:20px;

}

.cat-brown {
    height: 20px;
    width: 20px;
    background-color: var(--clr-tag-brown);
    border-radius: 50%;
    margin-bottom:20px;

}
