.discussion {
    border: 1px;
    border-color: var(--clr-gray);
    width: 800px;
    margin-left: 150px;
    box-shadow: 0 2px 20px var(--clr-gray);
    padding: 45px 30px;
    background-color: var(--clr-txt-secondary);
}

.posts{
}