#signup-format{
    border:1px solid var(--clr-gray);
    background-color: white;
    width:550px;
    height:550px;
    position:absolute;
    top:150px;
    left:950px;
    padding:50px;
    border-radius:5%;

}

.profile-pic{
    margin-left:0px;
    margin-bottom:20px;
}

.user-pic{
    border-radius:50%;
    width:100px;
}

.change-pic{
    position:relative;
    top:-50px;
    left:20px;
    border:1px solid black;
    border-radius:10%;
    background-color:white;
    color:var(--clr-txt-secondary);
    font-size:10px;
    width:75px;
    height:25px;
}

.input-forms{
    display:flex;
    flex-direction:row;
    width:550px;
    flex-wrap:wrap;
}

.field-format{
    margin-right:20px;
    margin-bottom:15px;
    font-size:16px;
    color: var(--clr-txt-secondary);
}

input{
    height:15px;
    padding:10px;
}

input[type=text]{
    width:230px;
}


input[type=email]{
    width:505px;
}

input[type=password]{
    width:505px;
}

.create-account{
background-color:var(--clr-txt-primary);
color:white;
width:530px;
border-radius: 12px;
padding:10px;
}

.create-format{
    margin-right:20px;
    margin-bottom:10px;
    font-size:16px;
    color: var(--clr-txt-secondary);
    margin-top:15px;
}
.outer-box{
    border:1px solid var(--clr-gray);
    background-color: var(--clr-gray);
    width:1500px;
    height:800px;
    position:absolute;
    top:75px;
    left:200px;
    border-radius: 3%;
    box-shadow: 0 2px 20px var(--clr-gray);
}

.content{
    width:650px;
    height:500px;
    padding-left: 70px;
}

.title{
    color:var(--clr-txt-secondary);
    font-size: 50px;
    font-weight: bold;
    margin-bottom:0px;
    margin-top: 85px;
}

.description{
    color:var(--clr-txt-primary);
    font-size:14px;
}

.logo{
    height: 500px;
    width: 500px;
    margin-top: 40px;
    margin-left: 30px;
}
