main{
    font-family: var(--font-type2);
}

#start-box{
    width:65vw;
    min-width: 500px;
    flex-direction:column;
    align-items: center;
}

#start-header{
    display:flex;
    background-color:var(--clr-gray);
    justify-content: space-evenly;
    color:white;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}


#start-form, #start-form > div{
    display: flex;
    flex-direction: column;
}

#start-form {
    gap: 10px;
    width: 50%;
    padding: 25px;
}

#start-form > div{
    align-items: center;
    min-width: 250px;
}

#input-title{
    width:100%;
    font-size:14px;
}

#input-content{
    width: 100%;
    height:250px;
    padding:10px;
    font-size:14px;
    resize: none;
}

#create-button{
    max-width:250px;
    width: 40vw;
    align-self: center;
}
