<!-- POST CONTAINER -->

<a href="discussion/{{_id}}">
    <div class="discussion-box" > 
        <div class="discussion">
            <div class="discussion-body">
                <h1 class="title">{{title}}</h1>
                <p class="date">{{calcDate createdAt}}</p>
                <p class="content">{{content}}</p>  
            </div>
        </div>
    </div>
</a>
