    <!-- POST CONTAINER -->
    <div id="posts-container">
    <a href="/discussion"><div class="discussion-box" > 
        <div class="discussion">
        <div class="discussion-body">
                <h1 class="title">{{this.title}}</h1>
                <p class="date">{{this.date}}</p>
                <p class="content">{{this.content}}</p>  
        </div>
        </div>
    </div></a>