<div class="notif-item">
    <img src="images/users/{{this.user}}.jpg" class="notif-commenter">
        <div class="notif-body">
        <p class="notif-content"><span>{{this.user}}</span><span>{{this.action}}</span></p>
        <span class="notif-date">{{this.date}} day ago</span>
        </div>
</div>