<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/base.css">
    <link rel="stylesheet" href="public/css/about.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/data.js"></script>
    <script src="js/newsfeed.js"></script>
    <title>Porum</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="newsfeed.html" id="main-logo">
            <img src="images/design/logo.png" id="icon-logo"/>
            <p id="main-title">Porum</p>
        </a>
    </header>

    <main>

    <!-- About -->
      <div id="content-box" class="def-container">
        <div id="main-logo">
            <img src="images/design/logo.png" id="icon-logo"/>
            <p id="main-title">Porum</p>
        </div>
        <br>
        <h1 id="text-title">Dive into Anything.</h1>
        <h2 id="text-subtitle">Since we are social beings, the global pandemic has had a significant impact on
            our social lives as it continues to limit our face-to-face interactions and isolate us from
            the rest of the world. <br><br>
            
            As a result, many of us want to share our experiences with the internet, which
            has served as the primary mode of communication during the pandemic. There are
            many social media platforms that people can use as a result of this, but only a few
            community-based platforms where people can post various information or contents. <br><br>

            Herewith, the proposed web application is an online forum similar to reddit and
            stackoverflow, that will allow registered users to create posts from queries, news,
            thoughts or to simply share something of their interest. With this, other users can
            comment and react to these posts which will promote interaction and communication
            between the users of the web application making it more user-friendly.</h1>
        </div>

        <img src="images/about/mockup.png">
        

    <!-- Creators
    <div id="content-box" class="def-container">
    </div> -->

    </main>
</body>
</html>