<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/about.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/data.js"></script>
    <script src="js/newsfeed.js"></script>
    <title>Porum</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="newsfeed.html" id="main-logo">
            <img src="../../public/images/design/logo.png" id="icon-logo"/>
            <p id="main-title">Porum</p>
        </a>
     <!-- Search bar -->
     <div id="search-container">
        <form id="search-form" action="#" method="GET">
            <input id="search-bar" type="text" placeholder="Search the forum" maxlength="240"/>
            <i id="icon-search" class="fa-solid fa-magnifying-glass icon-base"></i>
            <input type="submit" hidden />
        </form>
    </div>

    <!-- Notification and Profile -->
    <div>
        <!-- Notif icon -->
        <div id="notification-container" class="has-notification">
            <i id="icon-notification" class="fa-solid fa-bell fa-lg icon-base"></i>
            <div id="notification-dropdown" class="dropdown">
                <div class="notif-item">
                    <img src="../../public/images/users/user7.jpg" class="notif-commenter">
                    <div class="notif-body">
                        <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                        <span class="notif-date">1 day ago</span>
                    </div>
                </div>

                <div class="notif-item">
                    <img src="../../public/images/users/user7.jpg" class="notif-commenter">
                    <div class="notif-body">
                        <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                        <span class="notif-date">1 day ago</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile -->
        <div id="profile-container">
            <img src="../../public/images/users/user1.jpg" id="icon-user">

            <i id="icon-arrowdown" class="fa-solid fa-angle-down fa-sm icon-base"></i>
            <div id="profile-dropdown" class="dropdown">
                <div id="profile-btn"><i class="fa-solid fa-user"></i> <span>Profile</span></div>
                <div id="settings-btn"><i class="fa-solid fa-gear"></i> <span>Settings</span></div>
                <div id="logout-btn"><i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></div>
            </div>
        </div>
    </div>
    </header>

    <main>

    <!-- About -->
    <section>
    <div class ="section-box def-container">
      <div class="content-box">
        <br>
        <h1 id="text-title">Dive into Anything.</h1><br>
        <h2 id="intro-subtitle">Since we are social beings, the global pandemic has had a significant impact on
            our social lives as it continues to limit our face-to-face interactions and isolate us from
            the rest of the world. <br><br>
            
            As a result, many of us want to share our experiences with the internet, which
            has served as the primary mode of communication during the pandemic. There are
            many social media platforms that people can use as a result of this, but only a few
            community-based platforms where people can post various information or contents. <br><br>

            Herewith, the proposed web application is an online forum similar to reddit and
            stackoverflow, that will allow registered users to create posts from queries, news,
            thoughts or to simply share something of their interest. With this, other users can
            comment and react to these posts which will promote interaction and communication
            between the users of the web application making it more user-friendly.</h1>
        </div>

        <div>
        <img src="../../public/images/about/mockup.png" id = "mockup"/>
        </div>
    </div>
    </section>

    <!--Developers-->
    <section>
        <div class ="section-box def-container">
            <div class="content-box">
                <h1 id="text-title">Developers</h1>

                <div id = "developer-box">
                    <div>
                        <img src="../../public/images/about/developer1.jpg" class="dev-photo"/>
                        <h1>Aaron Gabriel Songcuan Palpallatoc</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="../../public/images/about/developer2.jpg" class="dev-photo"/>
                        <h1>Kathleen Tio Tan</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="../../public/images/about/developer3.jpg" class="dev-photo"/>
                        <h1>Nicole Gene Prado Dans</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="../../public/images/about/developer4.jpg" class="dev-photo"/>
                        <h1>Diego Vitug Pallasigue</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Github Repo Link -->
    <section>
        <div class="section-box def-container">
            <div class="content-box2">
                <h1 id="text-title">Github Repo Link</h1>
                <div id="link-box">
                    <div><button id="repo-link" class="button-primary">Take me there</button></div>
                </div>
            </div>
        </div>
    </section>
 </main>
</body>
</html>