<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/discussion.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/data.js"></script>
    <title>Porum</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="newsfeed.html" id="main-logo">
            <img src="../images/design/logo.png" id="icon-logo"/>
            <p id="main-title">Porum</p>
        </a>

        <!-- Search bar -->
        <div id="search-container">
            <form id="search-form" action="#" method="GET">
                <input id="search-bar" type="text" placeholder="Search the forum" maxlength="240"/>
                <i id="icon-search" class="fa-solid fa-magnifying-glass icon-base"></i>
                <input type="submit" hidden />
            </form>
        </div>

        <!-- Notification and Profile -->
        <div>
            <!-- Notif icon -->
            <div id="notification-container" class="has-notification">
                <i id="icon-notification" class="fa-solid fa-bell fa-lg icon-base"></i>
                <div id="notification-dropdown" class="dropdown">
                    <div class="notif-item">
                        <img src="../images/users/user7.jpg" class="notif-commenter">
                        <div class="notif-body">
                            <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                            <span class="notif-date">1 day ago</span>
                        </div>
                    </div>

                    <div class="notif-item">
                        <img src="../images/users/user7.jpg" class="notif-commenter">
                        <div class="notif-body">
                            <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                            <span class="notif-date">1 day ago</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile -->
            <div id="profile-container">
                <img src="../images/users/user1.jpg" id="icon-user">

                <i id="icon-arrowdown" class="fa-solid fa-angle-down fa-sm icon-base"></i>
                <div id="profile-dropdown" class="dropdown">
                    <div id="profile-btn"><i class="fa-solid fa-user"></i> <span>Profile</span></div>
                    <div id="settings-btn"><i class="fa-solid fa-gear"></i> <span>Settings</span></div>
                    <div id="logout-btn"><i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="main-post" class="def-container">
            <div id="content-box" class="def-container">
                <div class = "content">
                <div id="post-header">
                    <a href="user7.html">
                    <img src="../images/users/user7.jpg" id="profile-pic"></a>
                </div>
                
                <div>
                    <div><h1 id="title-text">May 12th, 2022 COVID-19 update: 6,523 new cases, 18 new deaths, 728 hospitalized, 230 for COVID.</h1></div>
                    <span id="username-text">shirley.mood </span>
                    <span id="date-text"> &bull; May 13, 2022</span>
                </div>
                </div>
                
                <div><h3 id="content-text">6,523 confirmed and probable cases, with 5,576 positives from 70,283 tests. Of the 728 hospitalized, 230 are for COVID, 66 in the ICU, 27 Intubated, and 484 vaccinated Cases, test positivity rate, and wasterwater viral loads at winter 2020-2, and winter 2021-22 levels. Incidental COVID hospitalizations set to soon surpass Alpha/Delta levels later this week. Primary COVID hospitalizations, ICU, and intubations slightly above summer 2020 and summer 2021 levels, but below Alpha/Delta levels. No new wastewater report today, yet. Data note: With an increase in antigen at home testing, statewide probable and confirmed cases are added up and aggregated together.
                </h3></div>          
                <div id="options">
                    <div id="comment" class="text-clickable"> <i class="fa-solid fa-message"></i><span id="commenters"> 3 Comments</span></div>
                    <div id="share" class="text-clickable"> <i class="fa-solid fa-share"></i><span id="share"> Share</span></div>
                    <div id="follow" class="text-clickable"><i class="fa-solid fa-star"></i><span id="follow"> Follow</span></div>
                </div>
            </div>


            <!-- Text Box -->
            <div id="content-box" class="def-container">
                <textarea type="text" id="comment-input" name="comment-input" class="comment-input"></textarea>
                <div class = "comment-button">
                <button id="create-button" class="button-primary">Comment</button>
                </div>
            </div>

            <div id="comment-content">
            <div id="comment" class="comment-box def-container">
                <div><a href="user2.html"><img src="../images/users/user2.jpg" class="commenter-pic"></a></div>
                <div>
                    <p class="comments"><span class="commenter-user">i_am_john </span> <span class="commenter-date"> &bull; May 13, 2022 </span><br>I work for the Infectious Disease Bureau at the Boston Public Health Commission. This post is outstanding. Like...whoa. (bowing my head)
                    </p>
                </div>
            </div>
                <div id="comment" class="comment-box def-container">
                    <div><a href="user8.html"><img src="../images/users/user8.jpg" class="commenter-pic"></a></div>
                    <div>
                        <p class="comments"><span class="commenter-user">ferrari_von </span> <span class="commenter-date"> &bull; May 14, 2022 </span><br> I’m supposed to get on an airplane next week with my toddler with 0 safety measures in place this is insane.</p>
                    </div>
                </div>
                <div id="comment" class="comment-box def-container">
                    <div><a href="user5.html"><img src="../images/users/user5.jpg" class="commenter-pic"></a></div>
                    <div>
                        <p class="comments"><span class="commenter-user">real_sarah </span> <span class="commenter-date"> &bull; May 14, 2022 </span><br> Please do what you need to do to protect yourselves. CDC in the U.S. seems to be the only one ignoring the link between child hepatitis cases and SARS2. Other countries have recognized the possible link and are leaning in that direction. We are not in a good spot right now as far as transparency goes. </p>
                    </div>
                </div>
            </div>
        </div>
    </main>    
</body>
</html>