<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/forgotpassword.js"></script>
    <title>Forgot Password - Porum</title>
</head>
<body>
    <main>
        <div id="main-logo">
            <img src="../images/design/logo.png" id="icon-logo"/>
        </div>
        <h1 id="text-title">Hey, good to see you again!</h1>
        <h2 id="text-subtitle">Enter your username and email to send reset link.</h2>

        <div id="login-form" class="def-container">
            <p class="text-error"></p>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <button id="send-link" class="button-primary">Send reset link</button>
        </div>
        
        <div id="login-footer">
            <div id="goback-container">
                <a href="index.html" class="goback-text">Go back</a>
                <i class="fa-solid fa-arrow-left icon-return"></i>
            </div>
        </div>
    </main>
</body>
</html>