<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/index.js"></script>
    <title>Login - Porum</title>
</head>
<body>
    <main>
        <div id="main-logo">
            <img src="images/design/logo.png" id="icon-logo"/>
        </div>
        <h1 id="text-title">Hey, good to see you again!</h1>
        <h2 id="text-subtitle">Log in to get going.</h2>

        <div id="login-form" class="def-container">
            <p class="text-error"></p>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password"id="password" name="password" placeholder="Password" required>
            </div>
            <button id="login" class="button-primary">Log in</button>
        </div>
        
        <div id="login-footer">
            <a href="signup.html" class="login-footer-link">Sign up</a>
            <a href="forgotpassword.html" class="login-footer-link">Forgot your password?</span>
        </div>
    </main>
</body>
</html>