<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="shortcut icon" href="images/icon/porum.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    <script src="js/base.js"></script>
    <script src="js/data.js"></script>
    <title>Settings</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <a href="newsfeed.html" id="main-logo">
            <img src="../images/design/logo.png" id="icon-logo"/>
            <p id="main-title">Porum</p>
        </a>

        <!-- Search bar -->
        <div id="search-container">
            <form id="search-form" action="#" method="GET">
                <input id="search-bar" type="text" placeholder="Search the forum" maxlength="240"/>
                <i id="icon-search" class="fa-solid fa-magnifying-glass icon-base"></i>
                <input type="submit" hidden />
            </form>
        </div>

        <!-- Notification and Profile -->
        <div>
            <!-- Notif icon -->
            <div id="notification-container" class="has-notification">
                <i id="icon-notification" class="fa-solid fa-bell fa-lg icon-base"></i>
                <div id="notification-dropdown" class="dropdown">
                    <div class="notif-item">
                        <img src="../images/users/user7.jpg" class="notif-commenter">
                        <div class="notif-body">
                            <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                            <span class="notif-date">1 day ago</span>
                        </div>
                    </div>

                    <div class="notif-item">
                        <img src="../images/users/user7.jpg" class="notif-commenter">
                        <div class="notif-body">
                            <p class="notif-content"><span>shirley.mood</span> commented on your <span>discussion</span></p>
                            <span class="notif-date">1 day ago</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile -->
            <div id="profile-container">
                <img src="../images/users/user1.jpg" id="icon-user">

                <i id="icon-arrowdown" class="fa-solid fa-angle-down fa-sm icon-base"></i>
                <div id="profile-dropdown" class="dropdown">
                    <div id="profile-btn"><i class="fa-solid fa-user"></i> <span>Profile</span></div>
                    <div id="settings-btn"><i class="fa-solid fa-gear"></i> <span>Settings</span></div>
                    <div id="logout-btn"><i class="fa-solid fa-right-from-bracket"></i> <span>Logout</span></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="settings-box" class="def-container">
            <div class="header-container">
            <h2>Change / Add Information</h2>
            </div>
            <div class="div-format">
                <div>
                    <label for="picture">Change Profile Photo</label><br>
                    <img id="profile-pic" src="../images/users/user1.jpg"><br>
                    <button id="change-button" class="button-primary">Add New Profile Picture</button>
                </div>
                <div>
                    <label for="picture">Change Cover Photo</label><br>
                    <img id="cover-photo" src="../images/design/cover-photo.jpg"><br>
                    <button id="change-button" class="button-primary">Add New Cover Photo</button>
                </div>
            </div>
            <label for="username">Change Username</label>
            <input type="name" id="username" name="username" class="input1">
            <label for="birthday">Add Birthday</label>
            <input type="date" id="birthday" name="birthday" class="input1">
            <label for="telephone-no">Add Phone Number</label>
            <input type="tel" id="telephone-no" name="telephone-no" class="input1">
            <div class="div-format">
                <div>
                    <label for="password">Change Password</label><br>
                    <input type="password" id="password" name="password">
                </div>
                <div>
                    <label for="confirmpassword">Confirm Password</label><br>
                    <input type="password" id="confirmpassword" name="confirmpassword">
                </div>
            </div>
                <div class="header-container">
                <h2>Privacy Settings</h2>
                </div>
            <div class="div-format">

                <div>
                <form>
                <input type="checkbox" id="enable-birthday" name="enable-birthday" value="enable-birthday">
                <label for="enable-birthday"> Display Birthday</label>
                </div>
                <div>
                <input type="checkbox" id="enable-number" name="enable-number" value="enable-number">
                <label for="enable-number"> Display Phone Number</label>
                </form>
                </div>
            </div>
            <a href = "profile.html">
            <button id="save-button" class="button-primary">Save Changes</button>
            </a>
        </div>
    </main>
</body>
</html>