<main>
    <div>
        <img src="../images/design/404.png" id="icon-404"/>
    </div>

    <h1 id="text-title">404 - Not Found</h1>
    <h2 id="text-subtitle">Oops, looks like Poro is sleeping.</h2>
    <div id="goback-container">
        <a href="home" class="goback-text">Go back</a>
        <i class="fa-solid fa-arrow-left icon-return"></i>
    </div>
</main>