{{>header}}

    <main>
    <!-- About -->
    <section>
    <div class ="section-box def-container">
      <div class="content-box">
        <br>
        <h1 id="text-title">Dive into Anything.</h1><br>
        <h2 id="intro-subtitle">Since we are social beings, the global pandemic has had a significant impact on
            our social lives as it continues to limit our face-to-face interactions and isolate us from
            the rest of the world. <br><br>
            
            As a result, many of us want to share our experiences with the internet, which
            has served as the primary mode of communication during the pandemic. There are
            many social media platforms that people can use as a result of this, but only a few
            community-based platforms where people can post various information or contents. <br><br>

            Herewith, the proposed web application is an online forum similar to reddit and
            stackoverflow, that will allow registered users to create posts from queries, news,
            thoughts or to simply share something of their interest. With this, other users can
            comment and react to these posts which will promote interaction and communication
            between the users of the web application making it more user-friendly.</h1>
        </div>

        <div>
        <img src="images/about/mockup.png" id = "mockup"/>
        </div>
    </div>
    </section>

    <!--Developers-->
    <section>
        <div class ="section-box def-container">
            <div class="content-box">
                <h1 id="text-title">Developers</h1>

                <div id = "developer-box">
                    <div>
                        <img src="images/about/developer1.jpg" class="dev-photo"/>
                        <h1>Aaron Gabriel Songcuan Palpallatoc</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="images/about/developer2.jpg" class="dev-photo"/>
                        <h1>Kathleen Tio Tan</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="images/about/developer3.jpg" class="dev-photo"/>
                        <h1>Nicole Gene Prado Dans</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                    <div>
                        <img src="images/about/developer4.jpg" class="dev-photo"/>
                        <h1>Diego Vitug Pallasigue</h1>
                        <h4>Student at De La Salle Univesity</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Github Repo Link -->
    <section>
        <div class="section-box def-container">
            <div class="content-box2">
                <h1 id="text-title">Github Repo Link</h1>
                <div id="link-box">
                    <div><button id="repo-link" class="button-primary">Take me there</button></div>
                </div>
            </div>
        </div>
    </section>
 </main>