<main>
    <!-- About -->
    <section class="section-box def-container">
        <div id="about-head">
            <img src="../images/design/logo.png" id="about-logo"/>
            <h1 id="about-title">Porum</h1>
        </div>
        <div id="about-content">
            <div id="description" class="content-box">
                <h1 id="text-title">Dive into Anything.</h1>
                <h2 id="intro-subtitle">Since we are social beings, the global pandemic has had a significant impact on
                    our social lives as it continues to limit our face-to-face interactions and isolate us from
                    the rest of the world.<br><br>
                    
                    As a result, many of us want to share our experiences with the internet, which
                    has served as the primary mode of communication during the pandemic. There are
                    many social media platforms that people can use as a result of this, but only a few
                    community-based platforms where people can post various information or contents. <br><br>

                    Our team developed a web application, an online forum similar to Reddit and StackOverflow. 
                    It will allow registered users to create posts from queries, news, and thoughts or simply 
                    share something of their interest. With this, other users can comment and react to these posts, which will promote interaction and communication between the web application users, making it more user-friendly.
                </h2>
            </div>

            <div>
                <img src="images/about/mockup.png" id = "mockup"/>
            </div>
        </div>
    </section>

    <!--Developers-->
    <section class ="section-box def-container">
        <div class="content-box">
            <h1 id="text-title">Developers</h1>

            <div id = "developer-box">
                <div>
                    <img src="images/about/developer1.jpg" class="dev-photo"/>
                    <h1>Aaron Gabriel S. Palpallatoc</h1>
                    <h4>Student at De La Salle Univesity</h4>
                </div>
                <div>
                    <img src="images/about/developer2.jpg" class="dev-photo"/>
                    <h1>Kathleen T. Tan</h1>
                    <h4>Student at De La Salle Univesity</h4>
                </div>
                <div>
                    <img src="images/about/developer3.jpg" class="dev-photo"/>
                    <h1>Nicole Gene P. Dans</h1>
                    <h4>Student at De La Salle Univesity</h4>
                </div>
                <div>
                    <img src="images/about/developer4.jpg" class="dev-photo"/>
                    <h1>Diego V. Pallasigue</h1>
                    <h4>Student at De La Salle Univesity</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Github Repo Link -->
    <section>
        <div class="section-box def-container">
            <div class="content-box2">
                <h1 id="text-title">Github Repo Link</h1>
                <a id="link-box" href="https://github.com/ubergonmx/s15g12" rel="noopener noreferrer" target="_blank">
                    <button id="repo-link" class="button-primary">Take me there</button>
                </a>
            </div>
        </div>
    </section>

    <div id="login-footer">
        <div id="goback-container">
            <a href="../login" class="goback-text">Go back</a>
            <i class="fa-solid fa-arrow-left icon-return"></i>
        </div>
    </div>
 </main>