{{>header}}
    <main>
        <section>
            <div id="createpost-box">
                <div id="edit-box" class="def-container">
                    <div class="create-container">
                        <h2>Edit Discussion</h2>
                    </div>
                    <form id="edit-discussion-form">    
                        <p class="text-error"></p>
                        <div>
                            <label for="title">Title</label><br>
                            <input type="text" id="edit-title" name="title" value="{{discussion.title}}" >
                        </div>
                        <div>
                            <label for="discussion">Content</label><br>
                            <textarea id="edit-content" >{{discussion.content}}</textarea>
                        </div>
                        <div>
                            <select id="filter" name="filter">
                                <option value="FAQs">FAQs</option>
                                <option value="Off-Topic Chatter">Off-Topic Chatter</option>
                                <option value="Feedback">Feedback</option>
                                <option value="Member Spotlight">Member Spotlight</option>
                                <option value="Introductions">Introductions</option>
                                <option value="Announcements">Announcements</option>
                                <option value="Showcase">Showcase</option>
                                <option value="Jobs">Jobs</option>
                            </select>
                        </div>
                        <div id="edit-discussion-buttons">
                            <button id="delete-button" class="button-primary">Delete Discussion</button>
                            <button id="edit-button" class="button-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <aside>
            <div id="rulesedit-box" class="def-container">
                <div id="rulesedit-header">
                    <div><img src="../images/design/poro-big.png" class="logo-pos"/></div>
                    <div class="pos"><span id="text-title">Posting to Porum</span></div>
                </div>
                <hr class="line-separator">
                <div id="text-format" class="rules">
                    <div>1. Remember the human<hr class="line-separator"></div>
                    <div>2. Behave like you would in real life<hr class="line-separator"></div>
                    <div>3. Look for the original source of content<hr class="line-separator"></div>
                    <div>4. Search for duplicates before posting<hr class="line-separator"></div>
                    <div>5. Read the community’s rules</div>
                </div>
            </div>
        </aside>
    </main>


{{! let this script be at the bottom--}}
<script>
    var filter = document.getElementById("filter");
    for(var i = 0; i < filter.options.length; i++) {
        if(filter.options[i].value == "{{discussion.tag.name}}") {
            filter.options[i].selected = true;
        }
    }
</script>