<main>
        <div id="main-logo">
            <img src="images/design/logo.png" id="icon-logo"/>
        </div>
        <h1 id="text-title">Hey, good to see you again!</h1>
        <h2 id="text-subtitle">Enter your username and email to send reset link.</h2>

        <div id="login-form" class="def-container">
            <p class="text-error"></p>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" >
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email Address" >
            </div>
            <button id="send-link" class="button-primary">Send reset link</button>
        </div>

        <div id="login-footer">
            <div id="goback-container">
                <a href="/login" class="goback-text">Go back</a>
                <i class="fa-solid fa-arrow-left icon-return"></i>
            </div>
        </div>
    </main>