<main>
    <div id="main-logo">
        <img src="../images/design/logo.png" id="icon-logo"/>
    </div>
        <h1 id="text-title">Hey, good to see you again!</h1>
        <h2 id="text-subtitle">Log in to get going.</h2>
    <form id="login-form" class="def-container">
        <p class="text-error"></p>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email Address" autocomplete="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password"id="password" name="password" placeholder="Password" autocomplete="current-password" >
        </div>
            <button id="login" class="button-primary">Log in</button>
    </form>

    <div id="login-footer">
        <a href="/signup" class="login-footer-link">Sign up</a>
        <a href="/forgotpassword" class="login-footer-link">Forgot your password?</span>
    </div>
</main>