<main>
    <div id="main-logo">
        <img src="../images/design/logo.png" id="icon-logo"/>
    </div>
    <h1 id="text-title">Forgot your password?</h1>
    <h2 id="text-subtitle">That's okay, it happens! Enter your new password.</h2>
    
    <form id="login-form" class="def-container">
        <p class="text-error"></p>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password">
        </div>
        <div>
            <label for="confirmpassword">Confirm password</label>
            <input type="password" id="confirm-password" name="confirmpassword" placeholder="Re-type password" autocomplete="new-password">
        </div>
        <button id="reset-password" class="button-primary">Reset password</button>
    </form>
    
    <div id="login-footer">
        <div id="goback-container">
            <a href="../login" class="goback-text">Go to log in</a>
            <i class="fa-solid fa-arrow-left icon-return"></i>
        </div>
    </div>
</main>