    <main>
        <div id="main-logo">
            <img src="../images/design/logo.png" id="icon-logo"/>
        </div>
        <h1 id="text-title">Reset your password</h1>
        <h2 id="text-subtitle">Enter your new Password!</h2>

        <div id="login-form" class="def-container">
            <p class="text-error"></p>
            <div>
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" placeholder="New Password">
            </div>
            <div>
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
            </div>
            <button id="send-link" class="button-primary">Confirm</button>
        </div>
        
        <div id="login-footer">
            <div id="goback-container">
                <a href="/login" class="goback-text">Go back</a>
                <i class="fa-solid fa-arrow-left icon-return"></i>
            </div>
        </div>
    </main>