<main>
    <div id="signup-header">
        <div>
            <h1 id="text-title">Welcome!<br>First things first...</h1>
            <div id="goback-container">
                <a href="/login" class="goback-text">Go back</a>
                <i class="fa-solid fa-arrow-left icon-return"></i>
            </div>
        </div>
            <h2 id="text-subtitle">Create a profile to personalize how you'll appear to other users</h2>
            <img src="../images/design/poro-stack.png" id="img-design">
    </div>

        <!-- Signup Form -->
        <form id="signup-form" class="def-container" enctype="multipart/form-data">
            <div>
                <div id="user-pic-container">
                    <img src="../images/users/userDefault.jpg" id="user-pic">
                    <label for="profile-img" class="button-secondary">
                        Change
                        <input type="file" id="profile-img" accept=".png, .jpg, .jpeg" name="profile-img"/>
                    </label>
                </div>
                <p class="text-error"></p>
            </div>
            <div id="input-form">
                <div>
                    <div>
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname">
                    </div>
                    <div>
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname">
                    </div>
                </div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" autocomplete="username">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                <div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" autocomplete="new-password">
                    </div>
                    <div>
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" id="confirmpassword" name="confirmpassword" autocomplete="new-password">
                    </div>
                </div>
                    <button id="create-account" class="button-primary">Create Account</button>
            </div>
        </form>
</main>