main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

#about-head{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

#about-logo{
    width: 150px;
    object-fit: cover;
}

#about-title{
    font-size: 5rem;
    margin:0;
}

h4{
    font-weight:lighter;
}

.section-box{
    max-width: 1500px;
    width:100vw;
    align-items: center;
    justify-content: center;
}

main > section:first-child{
    flex-direction: column;
}

main > section + section > .content-box{
    padding: 50px;
}

.content-box{
    max-width:1500px;
    max-height: 700px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#about-content{
    display: flex;
}

#description{
    padding: 5px 0 60px 100px;
}

#mockup{
    width: 420px;
    padding: 5px 100px 60px;
    object-fit: cover;
}

#intro-subtitle {
    font-weight: lighter;
    text-align: justify;
    font-size:20px;
    color: var(--clr-txt-secondary);
}

#developer-box{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    text-align:center;
    margin-top:3vw;
}

.dev-photo{
    border-radius:50%;
    width:260px;
    height:260px;
    object-fit: cover;
}

#qr-code{
    max-width:500px;
    width:50vw;
}

.content-box2{
    max-width:1500px;
    max-height: 700px;
    width:100vw;
    padding: 2rem 3rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;
    align-items:center;
    gap:1rem;
}