main{
    font-family: var(--font-type2);
}

#main-post{
    width:1000px;
    flex-direction:column;
    padding:25px;
    gap:10px;
    margin-left:20px;
}

#post-header{
    display:flex;
    flex-direction: column;
    gap:15px;
}

#profile-pic{
    border-radius:100%;
    width:75px;
    height:75px;
}

#username-text{
    font-size:15px;
    color:var(--clr-blue-500);
}

#date-text{
    font-size:15px;
    color:var(--clr-gray-500);
    font-family: var(--font-type2);
}

#title-text{
    font-family: var(--font-type2);
    color: var(--clr-txt-primary);
    font-size: 20px;
    margin: 10px 0 5px 0;
}

#content-text{
    color:var(--clr-txt-secondary);
    font-size:14px;
    line-height: 1.5;
    max-height: 100px;
    overflow: hidden;
}

.content-box{
    display:flex;
    flex-direction:column;
    padding: 20px;
}

#options{
    display:flex;
    flex-direction:row-reverse;
    gap:20px;
    padding:5px;
    color: var(--clr-txt-primary);
}

.comment-box{
    gap:10px;
    padding: 0 20px;
    justify-content: flex-start;
}

.comment-box > a{
    margin-top: 10px;
}

.commenter-pic{
    border-radius:100%;
    width:50px;
    height:50px;
}

.commenter-user{
    font-family: var(--font-type2);
}


.comment-content{
    text-align:justify;
    font-family: var(--font-type);
    margin-block: 1em;
}

.comment-content p{
    margin: 0;
}

.commenter-date{
    color:var(--clr-gray-500);
}
#comment{
    color:var(--clr-txt-primary);
}
#comment-container{
    display:flex;
    flex-direction: column;
    color:var(--clr-txt-secondary);
    font-weight: 500;
    font-size:14px;
    line-height: 1.5;
    gap:20px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.comment-input{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.comment-create{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
}

#create-button{
    width:250px;
}


.comment-body{
    width: 100%;
}

.comment-edit-form{
    margin-top: 20px;
}

.comment-edit-textarea{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.comment-edit-buttons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 0 20px;
    gap: 15px;
}

.comment-edit-buttons > *{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    width: 80px;
}

