main{
    gap: 50px;
    padding-bottom: 0px;
}

#img-design{
    width: 400px;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
        gap: 10px;
    }
    #img-design{
        display: none;
    }
}

#signup-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signup-form{
    max-height: 550px;
    padding: 2rem 3rem;
    flex-direction: column;
    gap: 20px;
}

#signup-form div{
    display: flex;
}

#signup-form > div:first-child{
    justify-content: space-between;
    align-items: center;
}

#user-pic-container{
    align-items: center;
    gap: 10px;
}

#user-pic{
    border-radius:100%;
    width:75px;
    height: 75px;
}

.text-error{
    max-width: 180px;
    overflow-wrap: break-word;
    text-align: right;
}

#input-form{
    flex-direction: column;
    gap: 10px;  
}

#input-form div {
    display: flex;
    gap: 20px;
    width: 100%;
}

#input-form > div > div{
    flex-direction: column;
    gap: 10px;
}

#create-account{
    margin-top: 10px;
}