main{
    font-family: var(--font-type2);
    gap: 5vw;
}

hr{
    max-width: 106%;
    width: 50vw;
}

#start-discussion-form{
    position:relative;
}

#start-box{
    max-width:1000px;
    width: 35vw;
    padding:25px;
    flex-direction:column;
    gap:15px;
    align-items: center;
    text-align:center;
}

.text-error {
    top: -10px;
    position: absolute;
}

#createpost-box{
    display:flex;
    gap:50px;
    flex-direction:row;
    justify-content: space-evenly;
}

#rules-box{
    max-width:500px;
    width:30vw;
    display:flex;
    flex-direction:column;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
}

#rules-header{
    display:flex;
    flex-direction:row;
    text-align:center;
    gap:20px;
    padding-top:20px;
}

.rules{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    text-align:left;
    gap:20px;
}

#text-format{
    font-size: 16px;
    font-family: var(--font-type2);
    color: var(--clr-txt-primary);
}

.pos{
    margin-top:10px;
}

.line-separator{
    margin-left:-20px;
}

.logo-pos{
    width:50px;
    height:50px;
}


.create-container{
    border:1px,solid,white;
    padding: 1rem 2rem;
    display:flex;
    background-color:var(--clr-gray);
    justify-content: space-evenly;
    color:white;
    align-items: center;
    max-width:100%;
    /* width:988px; */
    height:25px;
}

#input-title{
    width:25vw;
    padding:10px;
    font-size:14px;
    margin-bottom:1vw;
}

#input-content{
    width: 25vw;
    height:250px;
    padding:10px;
    font-size:14px;
    margin-bottom:1vw;
    border-radius: 5px;
}

#create-button{
    margin-top:15px;
    max-width:250px;
    width:15vw;
}

.div-format{
    display:flex;
    gap:50px;
    justify-content: space-evenly;
    align-items: center;
}

#filter{
    font-family: var(--font-type2);
    font-weight: bold;
    color: var(--clr-txt-secondary);
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    width:10vw;
    padding: 10px 5px;
}


#filter:focus{
    border-color: var(--clr-blue);
    -webkit-box-shadow: none;
	box-shadow: none;
    outline: none;
}